.separator {
  @apply flex uppercase text-xs font-medium w-full mb-6;
  &::before,
  &::after {
    @apply h-2;
    flex: 1 0 auto;
    content: '';
    border-bottom: 1px solid #d4d4d8;
  }
  span {
    flex: 0.2 0 auto;
  }
}

sl-dialog {
  --sl-z-index-dialog: 80;
}

img {
  @apply object-contain select-none pointer-events-none;
}

.button-container {
  @apply flex justify-center space-x-2;
  sl-button {
    --sl-input-border-width: 2px;
    --sl-spacing-medium: 0;
    img {
      @apply w-6 h-6 mt-1.5;
    }
    svg {
      @apply w-9 h-9;
    }
  }
}
