.dui-input-text {
  @apply flex w-full mx-auto relative py-5;
  & input[type] {
    font-family: var(--fontFamily);
    @apply relative inline-flex w-full p-6 px-3 rounded-md text-base bg-white;
    border: 1px solid #ccc;
    height: 2rem;
  }
  &[disabled] {
    @apply opacity-60;
  }
  & .dui-input-msg,
  & .dui-input-tip,
  & label {
    @apply absolute flex justify-center items-center !leading-none text-sm h-4 px-3;
    margin-left: 1px;
    top: 0.15rem;
  }
  & .dui-input-msg {
    @apply top-auto;
    bottom: 0.15rem;
  }
  & .dui-input-tip {
    @apply left-auto right-0;
  }
  & .dui-input-right,
  & .dui-input-left {
    @apply absolute flex justify-center items-center p-6 pr-2 pl-2 rounded-r-md;
    z-index: 1;
    right: 1px;
    min-width: 1.5rem;
    margin-top: 1px;
    height: 1.5rem;
    font-size: 1em;
    line-height: 1em;
    &:empty {
      @apply bg-black;
    }
  }
  & .dui-input-left {
    @apply right-auto;
    left: 1px;
  }
  &[required] {
    & label {
      &::after {
        @apply inline-flex justify-center items-center align-middle leading-none text-red-500 font-semibold;
        content: '*';
        height: 1em;
        margin-left: 0.25em;
      }
    }
  }
  &[rightSlotted] {
    & input[type] {
      @apply pr-20;
    }
  }
  &[leftSlotted] {
    & input[type] {
      @apply pl-11;
    }
  }
}
