:host {
}
.chain-icon {
  @apply w-10 h-10 rounded-full bg-contain bg-center bg-no-repeat bg-white cursor-pointer;
  &.eth {
    background-image: url('~/assets/ethereum.svg');
  }
  &.sol {
    background-color: #000;
    background-image: url('~/assets/solana.svg');
  }
  &.apt {
    background-image: url('~/assets/aptos.svg');
  }
  &.bsc {
    background-image: url('~/assets/bsc.svg');
  }
  &.btc {
    background-image: url('~/assets/bitcoin.svg');
  }
}
