.addr_name {
  min-width: 100px;
  max-width: 140px;
}
.edit {
  @apply my-0;
  & .addr_edit {
    @apply w-56 lg_w-96;
  }
}
@media (max-width: 1024px) {
  .addr_name {
    min-width: 50px;
    max-width: 60px;
  }
}
