@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: var(--sl-color-primary-200);
  color: var(--sl-color-neutral-900);
}

.sl-theme-light,
.sl-theme-dark {
  color: var(--sl-color-neutral-900);
}
