:host {
  --posterSize: 90px;
}
.coll-item {
  min-height: 9rem;
  @apply flex flex-col gap-4 p-4 border border-gray-200;
  &:not(:last-type) {
    @apply bg-red-500;
  }
  & .poster {
    width: var(--posterSize);
    height: var(--posterSize);
    @apply bg-no-repeat bg-center bg-cover;
    &:not(.minted) {
      @apply bg-gray-100;
    }
  }
}
